name: Publish Firmware

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-firmware:
    name: Build Firmware
    strategy:
      fail-fast: false
      matrix:
        file: [apollo-automation-m1-rev4, apollo-automation-m1-rev6, adafruit-matrix-portal-s3]
    uses: esphome/workflows/.github/workflows/build.yml@2025.12.0
    with:
      #### Modify below here to match your project ####
      files: ${{ matrix.file }}.factory.yaml
      combined-name: ${{ matrix.file }}
      #### Modify above here to match your project ####

      release-summary: ${{ github.event.release.body }}
      release-url: ${{ github.event.release.html_url }}
      release-version: ${{ github.event.release.tag_name }}

  upload-to-release:
    name: Upload to Release
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.12.0
    needs:
      - build-firmware
    with:
      version: ${{ github.event.release.tag_name }}
